kbd {
  border: 1px solid #dbdbdb;
}
pre {
  background-color: #111;
  color: #dbdbdb;
  border-radius: 4px;
  padding: 5px;
  overflow-x: hidden;
}
center {
  margin-top: 200px;
}
.is-mono {
  font-family: monospace;
}
