.modal-container {
  background-color: #555;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}

.search {
  border: 1px solid #0081cc;
  background-color: #777;
  color: #ddd;
}
.search::placeholder {
  color: #aaa;
}
.search:focus {
  color: white;
}

/* Filtered Items */

.item {
  color: white;
}
.item:hover {
  background-color: rgb(24, 94, 173);
}
.item.selected {
  background-color: rgb(26, 77, 134);
}
kyb {
  background: #353535;
  color: #e2e2e2;
  border-bottom: 2px solid #7b7b7b;
  font-family: monospace;
}
