.modal-container {
  background-color: #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}

.search {
  border: 1px solid #666;
  background-color: #bbb;
  color: #444;
}
.search::placeholder {
  color: #777;
}
.search:focus {
  color: #333;
}

/* Filtered Items */

.item {
  color: #222;
}
.item:hover {
  background-color: rgb(117, 173, 236);
}
.item.selected {
  background-color: rgb(93, 138, 190);
}
kyb {
  background: #353535;
  color: #e2e2e2;
  border-bottom: 2px solid #7b7b7b;
  font-family: monospace;
}
